@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Josefin+Sans:wght@700&family=Lilita+One&family=Poppins:ital,wght@0,200;0,500;0,600;0,700;0,800;0,900;1,200;1,500;1,600;1,700;1,800;1,900&family=Protest+Riot&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
   
}
body{
    background-color: black;
}
.main{
    background-image: url("assets/Images/Netflix_Logo.jpg");
    height: 90vh;
    background-position: center center;
    background-repeat: none;
    background-size: max(1200px , 100vw);
   /* border: 2px solid red; */
 
}
   
   

.container{
    opacity: 0.62;
  background-color: black;
   position: absolute;
   width: 100%;
   height: 90vh;
/* border: 2px solid rgb(43, 255, 0); */
}
.main .nav{
    
    display: flex;
    align-items: center;    
    justify-content: space-between;
    /* border: 2px solid red; */
    width: 75vw;
    margin:auto;
    position: relative;
    top: 20px;
   
}

.main .box{
    color: white;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   /* border: 2px solid royalblue; */
   position: relative;
   top: 200px;
 
}

.main .box h1,.main .box h4,.main .box h3{
    margin: 10px 0;
    font-weight: 700;
}

.getstarted input{
    width: 350px;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.495);
    color: rgb(255, 255, 255);
    outline-color: red;
    background-color: rgba(0, 0, 0, 0.543);
    opacity: 1.44;
    padding-left: 10px;
    border-radius: 5px;
}

.getstarted input::placeholder{
    color: aliceblue;
    font-size: 16px;
 
}

.getstarted button{
    color: aliceblue;
    background-color: red;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
}

.getstarted,.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.buttons #language,.buttons button{
    color: aliceblue;
    background-color: red;
    width: 85px;
    height: 35px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
   
}

.buttons #language{
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.495);
}

.line{
    width: 100%;
    height: 10px;
    /* border: 1px solid rgba(33, 29, 29, 0.966); */
    background-color: rgb(70, 70, 70);
    
}

@media (max-width:820px){
    /* .main .box h1,.main .box h4,.main .box h3{
    } */
    .main .box{
        font-size: 1.2rem;
       top: 60px;  
       flex-wrap: wrap;     
       text-align: center;
    }

   
    
}

@media (max-width:650px){
    
    .main,.container{
        height: 100vmax;
        /* border: 2px solid red; */
    }
    .main{
        top:100px;
    }
    .getstarted{
        flex-direction: column;
      
        /* border: 2px solid red; */
    }
}

@media (max-width:460px){
    
.main .nav{
  flex-direction: column;
  align-items: start;
  gap: 15px;
}
  
.main,.container{
    height: 100vmax;
    /* border: 2px solid red; */
}

.getstarted button{
    font-size: 18px;
    width: 40vw;
    height: 10vh;
}

}

.section_one{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: aliceblue;
    flex-wrap: wrap;
    margin: 10px;
}

.section_one h1{
    font-size: 3rem;
    font-weight: 900;
}

.section_one p{
    font-size: 1.5rem;
}

.para,.tvshow{
    width: 40%;
}

.section_one video{
    position: relative;
    top: -386px;
    left: 367px;
    width: 466px;
    z-index: -54;
}

.section_two{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: aliceblue;
    flex-wrap: wrap;
    margin: 40px;
    
   
}

.mob_para{
    width: 40%;
}

.section_two p{
    font-size: 1.5rem;
}

.section_two h1{
    font-size: 3rem;
    font-weight: 900;
}



.section_three{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: aliceblue;
    flex-wrap: wrap;
    margin: 40px; 
   
}

.panel_para{
    width: 40%;
}

.section_three p{
    font-size: 1.5rem;
}

.section_three h1{
    font-size: 3rem;
    font-weight: 900;
}

.section_three video{
    position: relative;
    top: -426px;
    left: 327px;
    width: 390px;
    z-index: -54;
}


.section_four{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: aliceblue;
    flex-wrap: wrap;
    margin: 40px;    
}

.child_para{
    width: 40%;
}

.section_four p{
    font-size: 1.5rem;
}

.section_four h1{
    font-size: 3rem;
    font-weight: 900;
}


.section_five{
   
    text-align: center;
    color: aliceblue;
   
      
}

.section_five h1{
    font-size: 42px;
    margin: 30px auto; 
}


.faq{
    background-color: rgb(47, 47, 47);
    width: 80%;
    height: 10vh;
    display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  margin: 10px auto;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  
}

.faq:hover{
    background-color: rgb(66, 66, 66);
}

.faq_email{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    margin-bottom: 80px;
}


.memb{
    font-size: 1.3rem;
    margin-top: 50px ;
    margin-bottom: 20px ;
}


