@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Josefin+Sans:wght@700&family=Lilita+One&family=Poppins:ital,wght@0,200;0,500;0,600;0,700;0,800;0,900;1,200;1,500;1,600;1,700;1,800;1,900&family=Protest+Riot&display=swap');

*{
    margin: 0;
    padding: 0;
  box-sizing: border-box;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    
}
body{
    background-color: black;
   

}
.all{
    border: 2px solid red;
}
.main{
    background-image: url("assets/Images/Netflix_Logo.jpg");
    /* height: 100%; */
    background-position: center center;
    background-repeat: none;
    /* border: 2px solid red; */
    background-size: max(1200px , 100vw);

}
   
   .agree{
    /* border: 2px solid yellow; */
    height: 87vh;
    /* max-width: 100vw; */
   }

.container{
    opacity: 0.62;
  background-color: black;
   position: absolute;
   width: 100%;
   height: 89%;
/* border: 2px solid rgb(43, 255, 0); */

}
.main .nav{
    
    display: flex;
    align-items: center;    
    justify-content: space-between;
    /* border: 2px solid red; */
    width: 75vw;
    margin:auto;
    position: relative;
    top: 20px;
   
}

.main .box{
    color: white;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   /* border: 2px solid royalblue; */
   position: relative;
   top: 200px;
 
}

.main .box h1,.main .box h4,.main .box h3{
    margin: 10px 0;
    font-weight: 700;
}

@media (max-width:1496px) {
    .main .box h1,.main .box h4,.main .box h3{
        margin: 7px 0;
        font-weight: 500;

    }

    .main .box{
        /* border: 2px solid red; */
        top: 100px;
    }

    
    
    .section_one .tvshow{
      border: 2px solid red;
     
       
    }
}


.getstarted input{
    width: 350px;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.495);
    color: rgb(255, 255, 255);
    outline-color: red;
    background-color: rgba(0, 0, 0, 0.543);
    opacity: 1.44;
    padding-left: 10px;
    border-radius: 5px;
}

.getstarted input::placeholder{
    color: aliceblue;
    font-size: 16px;
 
}

.getstarted button{
    color: aliceblue;
    background-color: red;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
}

.getstarted,.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.buttons #language,.buttons button,.foot_lang{
    color: aliceblue;
    background-color: red;
    width: 85px;
    height: 35px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
   
}

.buttons #language,.foot_lang{
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.495);
}

.line{
    width: 100%;
    height: 7px;
    /* border: 1px solid rgba(33, 29, 29, 0.966); */
    background-color: rgb(70, 70, 70);
    

}

/* start section one */

.section_one{
    color: aliceblue;
    /* border: 2px solid rgb(238, 255, 0); */
    display: flex;   
    align-items: center;  
    height: 70vh; 
    width: 100%;
    justify-content: space-around;
    padding: 40px;
    gap: 60px;
   
}

.section_one .para{
    /* border: 2px solid rgb(8, 0, 255); */
    /* flex-wrap: wrap; */
    height: 100%;
    width: 100%;
    display: flex;   
    align-items: center;
    
}

.section_one p{
    font-size: 1.5rem;
}

.section_one h1{
    font-size: 3rem;
    font-weight: 900;
}

.section_one .tvshow{
    /* border: 2px solid rgb(0, 255, 174); */
    /* overflow: hidden; */
    height: 100%;
    width: 100%;
    /* flex-wrap: wrap; */
    margin-bottom: 70px;
   
}


.section_one .tvshow video{
    
    position: relative;
   z-index: -52;
   bottom: 390px;
   left: 70px;
 
}



.section_two{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: aliceblue;
    /* flex-wrap: wrap; */
    margin: 40px;   
}

.mob_para{
    width: 40%;
}

.section_two p{
    font-size: 1.5rem;
}

.section_two h1{
    font-size: 3rem;
    font-weight: 900;
}



.section_three{
    
    /* align-items: center;
    justify-content: space-evenly; */
    color: aliceblue;
    /* flex-wrap: wrap; */
   display: flex;
   gap: 20px;
   
}

.panel_para{
    width: 40%;
    /* border: 2px solid red; */
    
}

.tv_panel{
    /* border: 2px solid red; */
    width: 50%;
    /* border: 2px solid red; */
    height: 100vh;
    margin-top: 50px;
   
   
}
.section_three p{
    font-size: 1.5rem;
}


.section_three h1{
    font-size: 3rem;
    font-weight: 900;
}

.section_three video{
    /* border: 2px solid rgb(4, 255, 0); */
    position: relative;
    bottom: 450px;
    left: 120px;
    z-index: -4;
    width:400px;
}




.section_four{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: aliceblue;
    /* flex-wrap: wrap; */
    margin: 40px;    
}

.child_para{
    width: 40%;
}

.section_four p{
    font-size: 1.5rem;
}

.section_four h1{
    font-size: 3rem;
    font-weight: 900;
}


.section_five{
   
    text-align: center;
    color: aliceblue;
   
      
}

.section_five h1{
    font-size: 42px;
    margin: 30px auto; 
}


.faq{
    background-color: rgb(47, 47, 47);
    width: 80%;
    height: 10vh;
    display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  margin: 10px auto;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  
}

.faq:hover{
    background-color: rgb(66, 66, 66);
}

.faq_email{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    margin-bottom: 80px;
}


.memb{
    font-size: 1.3rem;
    margin-top: 50px ;
    margin-bottom: 20px ;
}

.footer{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  
    
}

.link{
    display: flex;
    margin: 80px auto;
    flex-direction: column;
    color: rgb(255, 255, 255);  
    
}

.link a{
    text-decoration: none;
    color: aliceblue;
   margin: 7px;
   text-decoration: underline;
}

.extra_foot{
    margin: 10px;

}


