@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Josefin+Sans:wght@700&family=Lilita+One&family=Poppins:ital,wght@0,200;0,500;0,600;0,700;0,800;0,900;1,200;1,500;1,600;1,700;1,800;1,900&family=Protest+Riot&display=swap');

*{
    margin: 0;
    padding: 0;
  box-sizing: border-box;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    
}
body{
    background-color: black;
   

}

.main{
    background-image: url("assets/Images/Netflix_Logo.jpg");
    /* height: 100%; */
    background-position: center center;
    background-repeat: none;
    /* border: 2px solid red; */
    background-size: max(1200px , 100vw);

}
   
   .agree{
    /* border: 2px solid yellow; */
    height: 87vh;
    /* max-width: 100vw; */
   }

.container{
    opacity: 0.62;
  background-color: black;
   position: absolute;
   width: 100%;
   height: 89%;
/* border: 2px solid rgb(43, 255, 0); */

}
.main .nav{
    
    display: flex;
    align-items: center;    
    justify-content: space-between;
    /* border: 2px solid red; */
    width: 75vw;
    margin:auto;
    position: relative;
    top: 20px;
   
}

.main .box{
    color: white;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   /* border: 2px solid royalblue; */
   position: relative;
   top: 200px;
   text-align: center;
}

.main .box h1,.main .box h4,.main .box h3{
    margin: 10px 0;
    font-weight: 700;
}




.getstarted input{
    width: 350px;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.495);
    color: rgb(255, 255, 255);
    outline-color: red;
    background-color: rgba(0, 0, 0, 0.543);
    opacity: 1.44;
    padding-left: 10px;
    border-radius: 5px;
}

.getstarted input::placeholder{
    color: aliceblue;
    font-size: 16px;
 
}

.getstarted button{
    color: aliceblue;
    background-color: red;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
}

.getstarted,.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.buttons #language,.buttons button,.foot_lang{
    color: aliceblue;
    background-color: red;
    width: 85px;
    height: 35px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
   
}

.buttons #language,.foot_lang{
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.495);
}

.line{
    width: 100%;
    height: 7px;
    /* border: 1px solid rgba(33, 29, 29, 0.966); */
    background-color: rgb(70, 70, 70);
    

}

/* start section one */

.section_one{
    display: flex;
    align-items: center;
    justify-content: center;
   max-width: 90vw;
    color: aliceblue;
    margin: auto;

}

.tvshow img{
    width: 555px;
   
}
.tvshow {
    position: relative;
}
.tvshow  video{
    position: absolute;
    top: 86px;
    right: 77px;
    z-index: -10;
    width: 405px;
   
}

.para p{
    font-size: 1.4rem;
}

.para h1{
    font-size: 2rem;
    font-weight: 900;
}


/* start section two */

.section_two{
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    max-width: 90vw;
    margin: auto;   
}



.mob_para p{
    font-size: 1.4rem;
}

.mob_para h1{
    font-size: 2rem;
    font-weight: 900;
}

.mobile_display img{
    width: 100%;
}


/* section three */



.section_three{
    display: flex;
    align-items: center;
    justify-content: center;
   max-width: 90vw;
    color: aliceblue;
    margin: auto;

}

.tv_panel img{
    width: 555px;
   
}
.tv_panel {
    position: relative;
}
.tv_panel  video{
    position: absolute;
    top: 40px;
    right: 110px;
    z-index: -10;
   width: 350px;
   
}



.panel_para p{
    font-size: 1.4rem;
}

.panel_para h1{
    font-size: 2rem;
    font-weight: 900;
}



/* section four */


.section_four{
    display: flex;
    align-items: center;
    justify-content: center;
   max-width: 100vw;
    color: aliceblue;
    margin: auto;
}



.child_para p{
    font-size: 1.4rem;
}

.child_para h1{
    font-size: 2rem;
    font-weight: 900;
}

.child_display img{
    width: 100%;
}

/* section five  */
.section_five{
   
    text-align: center;
    color: aliceblue;
   
      
}

.section_five h1{
    font-size: 42px;
    margin: 30px auto; 
}


.faq{
    background-color: rgb(47, 47, 47);
    width: 80%;
    height: 10vh;
    display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  margin: 10px auto;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  
}

.faq:hover{
    background-color: rgb(66, 66, 66);
}

.faq_email{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    margin-bottom: 80px;
}


.memb{
    font-size: 1.3rem;
    margin-top: 50px ;
    margin-bottom: 20px ;
}

.footer{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   margin: 0 50px;
   gap: 30px;
    
}

footer p{
    color: rgb(255, 255, 255);  
    text-align: start;
   
}

.link{
    display: flex;
    margin: 80px auto;
    flex-direction: column;
    color: rgb(255, 255, 255);  
  
   
}

.link a{
    text-decoration: none;
    color: aliceblue;
   margin: 7px;
   text-decoration: underline;
}

.extra_foot{
    margin: 10px;

}

















@media (max-width:1496px) {
    .main .box h1,.main .box h4,.main .box h3{
        margin: 7px 0;
        font-weight: 500;

    }

    .main .box{
        /* border: 2px solid red; */
        top: 100px;
    }
    
}


@media (max-width:1000px) {
    .section_two,.section_four,.section_one,.section_three{
        flex-direction: column;
    }
    .main .box{
       font-size: 1.2rem;  
       
    }
    
    .para,.panel_para,.mob_para,.child_para{
        font-size: 1.2rem;  
        text-align: center;
        margin: 30px auto;
    }

   
}

@media (max-width:656px) {
   
    .getstarted {
       flex-direction: column;
       margin-top: 10px;
       
    }

    .main .box{
        font-size: 1rem; 
        top: 70px;
        text-align: center;       
     }

     .tvshow img{
        width:350px;       
    }

    .tvshow  video{
       width: 80%;  
       top: 56px;
       right: 27px;     
    }


     .tv_panel img{
        width:350px;       
    }

    .tv_panel  video{
       width:200px;  
       top: 30px;
       right: 81px;     
    }

    .getstarted input{
        height: 40px;
        width: 250px;
    }
    .getstarted button{
        height: 40px;
        width: 140px;
        font-size: 16px;
    }

        
.footer{

    
    grid-template-columns: 1fr 1fr; 

    
}

.link{
    
    margin: 10px auto;    
    align-items: start;
    
}

}

@media (max-width:480px) and (min-width:350px) {

.faq{
    font-size: 1.1rem;
}

.section_five h1 {
    font-size: 32px;

}
.main .nav{
   gap: 30px;
    justify-content: space-evenly;
   
}
}

@media (max-width:350px){
    .main .nav{
        flex-direction: column;
        align-items: self-start;
        margin-left: 20px;
    }
    
    .main img{
        margin-bottom: 10px;

    }

    .main .box{
        font-size: 0.8rem; 
        top: 30px;            
     }

     
     .getstarted input{
        height: 35px;
        width: 80vw;
        
    }
    .getstarted button{
        height: 35px;
        width: 50vw;
        font-size: 16px;
    }





    .tvshow img{
        width:200px;       
    }

    .tvshow  video{
       width: 150px; 
       top: 26px;
          
    }


     .tv_panel img{
        width:200px;       
    }

    .tv_panel  video{
       width:120px;  
       top: 10px;
       right: 38px;     
    }

    .footer{

        display: grid;
        grid-template-columns: 1fr; 
    margin: 0;
        
    }
    .link{
   
        align-items: center;
        
    }
   
   
}


